admin
admin.php
admin.html
admin.aspx
admin.jsp
wp-admin
administrator
admins
adminpanel
wp-login.php
login
login.php
login.html
login.aspx
login.jsp
dashboard
panel
controlpanel
cp
cpanel
robots.txt
sitemap.xml
backup
backups
.git
.svn
.env
.htaccess
phpmyadmin
phpinfo.php
info.php
test.php
server-status
web.config
.htpasswd
_vti_bin
_vti_pvt
_vti_log
_vti_txt
_vti_cnf
_private
backup.sql
backup.zip
backup.rar
backup.tar.gz
db
database
database.sql
dump.sql
api
api/v1
api/v2
swagger
api-docs
docs
documentation
wp-content
wp-includes
images
img
css
js
assets
uploads
static
media
files
data
logs
log
tmp
temp
cache
backup
old
new
dev
test
beta
staging
uat
demo
secret
private
admin_files
db_backup
error_log
error
debug
install
setup
config
conf
settings
wp-config.php
README
README.md
CHANGELOG
CHANGELOG.md
LICENSE
LICENSE.md
COPYING
COPYING.md
TODO
TODO.md
INSTALL
INSTALL.md
UPGRADE
UPGRADE.md